<%- include('partials/header'); %>
<h3 class="welcome"  ><a  href="/">Welcome to Matrix Master community</a> </h3>
<!-- <div class="seeMore-form"> -->
        <div class="question-form">
            <div class="seeMore-body">
                <h5>this question is from (<%= result.users.username %>) </h5>
                <h2 class="card-title"> <%= result.question %></h2>
                <h4 class="card-text"><%= result.description %></h4>
                <!-- <p></p> -->
                <br>
                <% if(locals.user){ %>
                    <% if (user.id == result.users._id) { %>

                        <div class="seeMore-btn">
                            <button class=" btn btn-success "><a class="edit-delete" href=<%= "/question/edit/"+ result._id %> > Edit Post </a> </button>
                            <button class="btn btn-danger"><a class="edit-delete" href=<%= "/question/delete/"+ result._id %> > DELETE  </a> </button>
                        </div>

                    <% } %>
                <%  } %> 
            
                
            </div>
        </div>

    <div class="seeMore-comment">
        <form action= <%= "/question/"+ result._id%> method="POST">
            <label for="input">add comment</label>
            <!-- <input type="text" class="add-comment" name="comment" required> -->
            <textarea name="comment"  cols="30" rows="2"></textarea>
            <button type="submit" >Comment</button>
        </form>
                <div class="oneComment">
                <% if (comment.length > 0) { %>
                    <% comment.map(com => { %>
                        <div class="comments">
                                <hr>
                            <p style="background-color: rgb(48, 180, 59); width: 50%;">  <%= com.users.username  %> </p>
                            <h4> <%= com.comment %>  </h4>
                        
                            <% if (locals.user) { %>
                                <% if (user.id == com.users._id) { %>
                            
                                    <a class="btn btn-danger del-comment" href= <%= '/comment/delete/' + com._id %>  > DELETE </a>
                                
                                <% } %>
                            <% } %>
                            <hr>
                        </div>
                    <% }) %> 
                <% } else { %> 
                <p class="warning-style"> no comment available</p>
                <% } %>
            </div>
        </div>
    
<!-- </div> -->

<%- include('partials/footer'); %>